<h1>Eat-Da-Burger!</h1>


<div class="form-group">
  
  {{#each burgers}}
     
      {{> burgers/burger-block devoured=false}}
  
  {{/each}}

</div>



<br><br>

<form class="create-form">

  <div class="form-group">
    
    <input type="text" id="burger" name="name">
    
  </div>
  <button type="submit" id="button"> Submit</button>
  
</form>
