<h1>Eat-Da-Burger!</h1>
<li>
	{{name}}

	<button class="devoured-yes-no" data-id="{{id}}" data-burger="{{burger_name}}">
		{{#if devoured}}Devour me!{{/if}}
	</button>

	
</li>

<ul>
  {{#each burgers}}
        
          {{>burgers_id}}
    
    
  {{/each}}
  
</ul>